@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-recursive);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    /* --background: linear-gradient( */
    /*   180deg, */
    /*   #6482ad 0%, */
    /*   #7fa1c3 33%, */
    /*   #e2dad6 66%, */
    /*   #f5eded 100% */
    /* ); */
    --foreground: #fff;
  }
}

.logo {
  margin: 0 auto;
  border-radius: 100%;
  animation-name: logoBounce;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

body {
  background: var(--background);
  color: var(--foreground);
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: bold;
}

.beatImg {
  border-radius: 16px;
  margin: 0 auto;
  min-height: 260px;
  min-width: 260px;
  max-width: 260px;
  max-height: 260px;
}

.buyBtn {
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 6px;
  color: #fff !important;
  transition: 0.5s;
  padding: 0;
}

.buyBtn::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
  padding: 0;
}

.buyBtnContainer {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.buyBtnContainer:hover {
  animation-name: scrollRainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
}

.player {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.logoLink {
  display: block;
  width: 300;
  margin: 0 auto;
}

#footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

@keyframes scrollRainbow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes logoBounce {
  0% {
    transform: scale(0.5) rotate(0deg);
  }

  50% {
    transform: scale(1.35) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
